.container {
  padding: 12px;
  width: 100%;
  :global {
    .ant-tabs .ant-tabs-left-content {
      border-left: 0;
    }
    .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
      text-align: left;
    }
  }
}
