.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.block:not(:first-child) {
  padding: 40px 0;
}

.radio {
  display: flex;
  line-height: 32px;
  height: 32px;
  align-items: center;
}
